@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.circle{
  height: 900px;
  width: 900px;
  top: -300px;
  right: -300px;
  
  } 

  .body{
    padding: 60px;
    height: 100%;
    width: 100%;
  }
